div.container.userList
  h3 User List
  div.container
    ul
      li(data-ng-repeat="user in users")
        a(data-ng-click="showUser(user)", href="javascript:void(0);")
          span {{user.name}}
        a(data-ng-click="editUser(user)", href="javascript:void(0);")
          span edit
        a(data-ng-click="de(user)", href="javascript:void(0);")
          span delete