div.container.userList
  h3 User List
  div.container
    ul
      li(data-ng-repeat="user in users")
        a(data-ng-click="show(user)", href="javascript:void(0);")
          span {{user.name}}
        a(data-ng-click="edit(user)", href="javascript:void(0);")
          span edit
        a(data-ng-click="destroy(user)", href="javascript:void(0);")
          span delete