//http://blog.tompawlak.org/ie-conditional-comments-jade
//fixed jade cannot handle ie condition
mixin ie(condition)
  | <!--[!{condition}]>
  block
  | <![endif]-->

doctype html
html(lang="en")
  head
    title HelloWorld
    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
    //For disable IE compatibility view
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    // STYLES
    link(rel="stylesheet", href="/linker/styles/style.css")
    link(rel="stylesheet", href="/linker/styles/toaster.css")
    // STYLES END
    block styles
    +ie('if lt IE 9')
      script(src="/linker/src/lib/respond.min.js")
  body
    block body

    // SCRIPTS
    
    // SCRIPTS END
    script(type="text/javascript", data-main="/linker/src/src", src="/linker/src/lib/require.js")
