div.container.projectNew
  h3 project new
  div.projectForm
    form(name="projectForm")
      div.form-group(data-ng-class="{'has-error': projectForm.name.$invalid && !projectForm.name.$pristine}")
        label Project Name
        input.form-control(type="text", placeholder="project name", name="name", required,
        data-ng-model="project.name", maxlength="{{attributes.name.maxLength}}")
        p.error(data-ng-show="projectForm.name.$invalid && !projectForm.name.$pristine") Required.

  a.btn.btn-medium.btn-primary(data-ng-click="submit()", href="javascript:void(0)") Submit
