div.container.projectNew
  h3 New Project
  div.projectForm
    form(name="projectForm")
      div.form-group(data-ng-class="{'has-error': projectForm.name.$invalid && !projectForm.name.$pristine}")
        label Project Name
        input.form-control(type="text", placeholder="project name", name="name", required,
        data-ng-model="project.name", maxlength="{{attributes.name.maxLength}}")
        p.error(data-ng-show="projectForm.name.$invalid && !projectForm.name.$pristine") Required.

      div.form-group(data-ng-class="{'has-error': projectForm.description.$invalid && !projectForm.description.$pristine}")
        label Project Description
        textarea.form-control(placeholder="project description", name="description", data-ng-model="project.description", rows="5")

  .row
    .col-md-6
      div(ui-tree='ui-tree')
        ol(ui-tree-nodes='', ng-model='project.stages')
          li(ng-repeat='node in project.stages', ui-tree-node='ui-tree-node', ng-include="'app/states/project/new/stagelist'")

  a.btn.btn-medium.btn-primary(data-ng-click="submit()", href="javascript:void(0)") Submit

  h3 Data binding
  .row
  .col-sm-6
    pre.code {{project | json}}