extends ../layout

block body
  .container
    .row
      h1 Hello World
      .col-sm-12
        h2 Examples
        ul
          li: a(href="/rest-examples") REST Calls
          li: a(href="/todos") Todo List App
          li: a(href="/protected") Passport Auth Login

        div
          em.text-muted You're looking at:&nbsp;
            code views/main/index.jade
