h2 Project
div.container.project
  div(data-ui-view="projectChildView")
  .row
    .col-md-6
      div(ui-tree='ui-tree')
        ol(ui-tree-nodes='', ng-model='tree2')
          li(ng-repeat='node in tree2', ui-tree-node='ui-tree-node', ng-include="'common/uitree/template1'")

  h3 Data binding
  .row
  .col-sm-6
    pre.code {{tree2 | json}}
