.projectStages(data-ui-tree="options", data-drag-delay="10", data-max-depth="5")
  ul(data-ui-tree-nodes, data-ng-model="settings.data.stages", type="stage")
    li(data-ng-repeat="stage in settings.data.stages ", data-ui-tree-node, data-ng-style="{'min-height':'32px'}")

      //--------------- stage button ------------------------
      div(data-ng-hide="editingStage.id == stage.id")
        a.btn.btn-danger.btn-xs.pull-right(data-click-btn, data-ng-click="removeStage(stage)", data-nodrag)
          i.glyphicon.glyphicon-remove
          i.sr-only Remove stage
        a.btn.btn-primary.btn-xs.pull-right(data-click-btn, data-ng-click="editStage(stage, 'name')", data-nodrag)
          i.glyphicon.glyphicon-pencil
          i.sr-only Edit stage
        div &nbsp;{{stage.name}} id:{{stage.id}}

      div(data-ng-show="editingStage.id == stage.id")
        div.input-group
          label.sr-only(for="editingStageName") Stage name
          input.form-control(type="text", placeholder="Stage name", data-ng-model="editingStage.name", id="editingStageName")
        span.input-group-btn
          a.btn.btn-success.btn-xs(data-click-btn, data-ng-click="saveEditingStage(stage)", data-nodrag)
            i.glyphicon.glyphicon-ok
            i.sr-only Save editing stage
          a.btn.btn-default.btn-xs(data-click-btn, data-ng-click="resetEditingStage()", data-nodrag)
            i.glyphicon.glyphicon-remove
            i.sr-only Save editing stage

      //---------------------------- task ----------------------------------
      div(data-nodrag)
        a.btn.btn-small(data-ng-click="showNewTaskFieldToStage(stage)", href="javascript:void(0)", data-ng-hide="settings.editingKey == stage.id+'_task'") Add Task
      div(data-ng-show="settings.editingKey == stage.id+'_task'", data-nodrag)
        label.sr-only(for="newTaskName_{{stage.id}}") Task name
        input(data-ng-model="newTask.name", placeholder="task name", type="text", id="newTaskName_{{stage.id}}")
        a(data-click-btn, data-ng-click="addTaskToStage(stage)", data-nodrag) Save
        a(data-click-btn, data-ng-click="settings.editingKey = null") Close

      div(data-stage-tasks, data-stage="stage")
