.projectStages(data-ui-tree="options")
  ul(data-ui-tree-nodes, data-ng-model="settings.data.stages", data-type="stage")
    li(data-ng-repeat="stage in settings.data.stages", data-ui-tree-node) {{stage.name}}



