.projectStages(data-ui-tree="options", data-drag-delay="10", data-max-depth="5")
  ul(data-ui-tree-nodes, data-ng-model="settings.data.stages", data-type="stage")
    li(data-ng-repeat="stage in settings.data.stages ", data-ui-tree-node, data-ng-style="{'min-height':'32px'}")

      //--------------- stage button ------------------------
      div(data-ng-hide="editingStage.id == stage.id")
        a.btn.btn-danger.btn-xs.pull-right(data-click-btn, data-ng-click="removeStage(stage)", data-nodrag)
          i.glyphicon.glyphicon-remove
          i.sr-only Remove stage
        a.btn.btn-primary.btn-xs.pull-right(data-click-btn, data-ng-click="editStage(stage)", data-nodrag)
          i.glyphicon.glyphicon-pencil
          i.sr-only Edit stage
        div &nbsp;{{stage.name}}

      div(data-ng-show="editingStage.id == stage.id")
        div.input-group
          label.sr-only(for="editingStageName") Stage name
          input.form-control(type="text", placeholder="Stage name", data-ng-model="editingStage.name", id="editingStageName")
        span.input-group-btn
          a.btn.btn-success.btn-xs(data-click-btn, data-ng-click="saveEditingStage(stage)", data-nodrag)
            i.glyphicon.glyphicon-ok
            i.sr-only Save editing stage
          a.btn.btn-default.btn-xs(data-click-btn, data-ng-click="resetEditingStage()", data-nodrag)
            i.glyphicon.glyphicon-remove
            i.sr-only Save editing stage

      //---------------------------- task ----------------------------------
      div(data-nodrag)
        a.btn.btn-small(data-ng-click="showEditingTaskToStage(stage)", href="javascript:void(0)", data-ng-hide="settings.editKey == 'newTask_'+stage.id") Add Task
      div(data-ng-show="settings.editKey == 'newTask_'+stage.id", data-nodrag)
        label.sr-only(for="editingTaskName_{{stage.id}}") Task name
        input(data-ng-model="editingTask.name", placeholder="task name", type="text", id="editingTaskName_{{stage.id}}")
        a(data-click-btn, data-ng-click="addTaskToStage(stage)", data-nodrag) Save
        a(data-click-btn, data-ng-click="settings.editKey = null") Close

      //-------------------------- task list -------------------------------
      ol(data-ur-tree-nodes, data-ng-model="stage.tasks", type="task", data-ng-if="stage.tasks && stage.tasks.length > 0")
        li(data-ng-repeat="task in stage.tasks", data-ui-tree-node, data-ng-style="{'min-height':'32px'}")
          div(data-ng-hide="editingTask.id == task.id")
            a.btn.btn-danger.btn-xs.pull-right(data-click-btn, data-ng-click="removeTask(task)", data-nodrag)
              i.glyphicon.glyphicon-remove
              i.sr-only Remove task
            a.btn.btn-primary.btn-xs.pull-right(data-click-btn, data-ng-click="editTask(task)", data-nodrag)
              i.glyphicon.glyphicon-pencil
              i.sr-only Edit task
            div &nbsp;{{task.name}}
          div(data-ng-show="editingTask.id == task.id")
            div.input-group
              label.sr-only(for="editingTaskName") Task name
              input.form-control(type="text", placeholder="Task name", data-ng-model="editingTask.name", id="editingTaskName")
            span.input-group-btn
              a.btn.btn-success.btn-xs(data-click-btn, data-ng-click="saveEditingTask(task,stage)", data-nodrag)
                i.glyphicon.glyphicon-ok
                i.sr-only Save editing task
              a.btn.btn-default.btn-xs(data-click-btn, data-ng-click="cancelEditingTask()", data-nodrag)
                i.glyphicon.glyphicon-remove
                i.sr-only Save editing task
