div.container.projectDetail
  h2 {{project.name}}
  p {{project.description}}
  p {{project.stateId}}
  p {{project.startDate}}
  p {{project.endDate}}
  p {{project.priority}}

  a.btn.btn-medium.btn-primary(data-ng-click="edit()", href="javascript:void(0)") Edit
