div.container.projectDetail
  div
    div(data-ng-hide="settings.editKey == 'name'")
      h2 {{project.name}}
      a(data-click-btn, data-ng-click="settings.editKey = 'name'") Edit
    div(data-ng-show="settings.editKey == 'name'")
      textarea(data-ng-model="editProject.name",placeholder="Edit name description")
      a(data-click-btn, data-ng-click="save()") Save
      a(data-click-btn, data-ng-click="cancelEditing('name')") Close

  div
    h3 Status
    p current state, project health, project priority, project status, project start date, project due date, project users

  div
    h3 Description
    div(data-ng-hide="settings.editKey == 'description'")
      a(data-click-btn, data-ng-click="settings.editKey = 'description'") Edit
      div {{project.description}}
    div(data-ng-show="settings.editKey == 'description'")
      textarea(data-ng-model="editProject.description",placeholder="Edit project description")
      a(data-click-btn, data-ng-click="save()") Save
      a(data-click-btn, data-ng-click="cancelEditing('description')") Close

  div
    h3 Charts
    a(data-click-btn, data-ng-click="showAllCharts()") Show all
    ul
      li: a(data-click-btn, data-ng-click="showChartCurrent()") Current state
      li: a(data-click-btn, data-ng-click="showChartALL()") All states
    ul
      li: a(data-click-btn, data-ng-click="showBurnDownChart()") Burn down
      li: a(data-click-btn, data-ng-click="showProgressChart()") Process
      li: a(data-click-btn, data-ng-click="showUsersChart()") Users
      li: a(data-click-btn, data-ng-click="showTasksChart()") Tasks
    div.chart-container

  div
    h3 Progress
    div
      a.btn.btn-medium.btn-primary(data-ng-click="settings.editKey = 'newStage'", href="javascript:void(0)", data-ng-hide="settings.editKey == 'newStage'") Add Stage
      div(data-ng-show="settings.editKey == 'newStage'")
        input(data-ng-model="newStage.name", placeholder="new stage name")
        a(data-click-btn, data-ng-click="addStage()") Save
        a(data-click-btn, data-ng-click="cancelEditing('newStage')") Close
    div
      ul
        li(data-ng-repeat="stage in project.stages") {{stage.name}}


    h3 Data binding
    .row
    .col-sm-6
      pre.code {{project | json}}

