div.container.projectDetail
  h2 {{project.name}}

  div
    h3 Status
    p current state
    p project health
    p project priority
    p project status
    p project due date
    p project users

  div
    h3 Description
    a(data-click-btn, data-ng-click="settings.editDescription = !settings.editDescription") Edit
    div(data-ng-hide="settings.editDescription == true") {{project.description}}
    div(data-ng-show="settings.editDescription == true")
      textarea(data-ng-model="project.description",placeholder="Edit project description")
      a(data-click-btn, data-ng-click="save()") Save
      a(data-click-btn, data-ng-click="settings.editDescription = false") Close

  div
    h3 Charts
    a(data-click-btn, data-ng-click="showAllCharts()") Show all
    ul
      li: a(data-click-btn, data-ng-click="showChartCurrent()") Current state
      li: a(data-click-btn, data-ng-click="showChartALL()") All states
    ul
      li: a(data-click-btn, data-ng-click="showBurnDownChart()") Burn down
      li: a(data-click-btn, data-ng-click="showProgressChart()") Process
      li: a(data-click-btn, data-ng-click="showUsersChart()") Users
      li: a(data-click-btn, data-ng-click="showTasksChart()") Tasks
    div.chart-container

  h3 Progress

