h2 User Signup Form
div.userState
  form.form-signin
    input.form-control(type="text", placeholder="your name", name="name",
    data-ng-model="user.name")
    input.form-control(type="text", placeholder="email address", name="email",
    data-ng-model="user.email")
    input.form-control(type="text", placeholder="password", name="encryptedPassword",
    data-ng-model="user.encryptedPassword")
    input.form-control(type="text", placeholder="password confirmation",
    name="confirmation", data-ng-model="user.confirmation")
    a.btn.btn-lg.btn-primary.btn-block(data-ng-click="createUser(user)", href="javascript:void(0)") Create Account