doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel="stylesheet", href="assets/css/style.css", type="text/css")
    link(rel="stylesheet", href="assets/css/video-js.min.css", type="text/css")
    title 2and2 project
  body
    include app/main
    if deploy
      script(type="text/javascript", src="assets/js/deploy/main.js")
      //if IE 8
        script(type="text/javascript", src="assets/js/deploy/ie8fix.js")
    else
      script(type="text/javascript", data-main="assets/js/app/main", src="assets/js/lib/require.js")
      //if IE 8
        script(type="text/javascript", data-main="assets/js/app/fix/ie8fix", src="assets/js/lib/require.js")
