div.container.projectEdit
  h3 project detail pages
  p {{project.name}}
  p {{project.startDate}}
  p {{project.endDate}}
  p {{project.priority}}

  a.btn.btn-medium.btn-primary(data-ng-click="submit()", href="javascript:void(0)") Submit
